$accent-color: #01266C;

header {
  display: flex;
  justify-content: space-between; 
  margin: 7px 0;
}

.menu {
  list-style-type: none;
  padding: 0;
  
  li {
    display: inline-block;
  }
}

.top-right-menu {
  align-self: flex-end;
  font-size: 12px;
  
  ul {
    display: inline-block;
  }

  .mobile-hidden {
    display: none;
  }

  li:not(:last-child) {
    border-right: 1px solid $accent-color;
  }
    
  a, a:hover {
    color: $accent-color;
    padding: 0 5px;
  }
}

nav {
  background-color: $accent-color;
  margin-bottom: 20px;
  
  &.navbar {
    padding: 0;
  }
  
  ul {
    padding: 10px 0;
  }
  
  a {
    color: #FFFFFF;
  }

  li:hover {
    background-color: #FEDFC0;

    a, a:hover {
      color: $accent-color;
    }
  }
}

.main-article {
  margin: 10px 0 30px;
  
  h1 {
    color: #B4630C;
    font-size: 22px;
  }

  h2 {
    color: #01266C;
    font-size: 18px;
    margin: 16px 0 5px;
  }

  p {
    font-size: 13px;
    line-height: 20px;
    text-align: justify;
  }
  
  img {
    height: 160px;
    margin-top: 8px;
    width: 100%;
  }
}

.carousel {
  display: none;
}

.form-control {
  border: none;
  border-radius: 0;
  font-size: 14px;
}

label {
  font-size: 12px;
}

.hide-default {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.item-choice {
  background: url(Assets/down-caret.png) no-repeat right #FFFFFF;
  background-position: 94% 51%;
  background-size: 10px;
}

.date-choice {
  background: url(Assets/calendar-icon.png) no-repeat right #FFFFFF;
  background-position: 95% 51%;
  background-size: 20px;
  cursor: default;
}

input[type="date"] {
  background: none;
}

.search-button {
  background: #FFFFFF;
  border: none;
  color: $accent-color;
  margin-bottom: 20px;
  padding: 6px 0;
  width: 100%;
}

.side-form, .side-info {
  background-color: #84BDDB;
  margin-bottom: 38px;
}

.side-form {
  ul {
    background-color: $accent-color;
    margin-bottom: 20px;
  }

  li:hover {
    background-color: #FA9F1D;
  }
  
  a, a:hover {
    color: #FFFFFF;
  }
}

.side-info {
  padding-bottom: 22px;
  
  h3 {
    background-color: $accent-color;
    color: #FFFFFF;
    font-size: 19px;
    margin-bottom: 9px;
    padding: 9px 15px;
  }
  
  span {
    display: block;
    font-size: 14px;
    padding: 2px 0;
  }

  .start {
    color: $accent-color;
    font-size: 16px;
  }

  .price {
    font-size: 30px;
    padding: 0;
  }

  .footnote {
    float: right;
    font-size: 10px;
  }
}

footer {
  background-color: $accent-color;
  color: #FFFFFF;
  display: flex;
  font-size: 13px;
  padding: 22px 0;
  text-align: center;

  a, a:hover {
    color: #FFFFFF;
    padding: 2px 5px 0;
  }
  
  span {
    display: block;
  }
}

@media (min-width: 768px) {
  header {
    margin: 10px 0;
  }

  .top-right-menu {
    ul {
      margin-bottom: 0;
    }
      
    .mobile-view {
      display: none;
    }

    .mobile-hidden {
      display: inline-block;
    }
    
    button {
      display: none;
    }
  }

  nav ul {
    padding: 0;
    width: 100%;
  }

  .carousel {
    display: block;
    
    a {
      width: 10%;

      img {
        width: 100%;
      }
    }
  }

  .carousel-indicators li {
    height: 2px;
    margin: 0 2px;
    width: 15px;
    background-color: #FFFFFF;
    
    &.active {
      opacity: 0.4;
    }
  }

  .main-article {
    margin-top: 19px;
    
    h1 {
      margin-bottom: 0;
    }

    p {
      line-height: 17px;
    }

    div {
      display: flex;
      justify-content: space-between;
    }

    section {
      width: 48%;
    }

    img {
      height: 133px;
    }
  }

  .side-form, .side-info {
    margin-bottom: 23px;
  }

  footer {
    padding: 15px 0 0;
    text-align: initial;

    ul {
      float: right;
    }

    li {
      padding: 0 7px;
      
      &:not(:last-child) {
        border-right: 1px solid;
      }
    }

    span {
      display: inline;
    }
  }
}

@media (min-width: 992px) {
  header {
    margin: 13px 0;
  }

  .main-article {
    margin: 23px 0;

    img {
      height: 200px;
      margin: 13px 0 7px;
    }
    
    p {
      line-height: 20px;
    }
  }
}
