header {
  margin: 7px 0px;
  display: flex;
  justify-content: space-between; 
}

.menu {
  align-self: end;
  font-size: 12px; 
}

.menu ul {
  list-style-type: none;
  padding: 0px;
  display: inline-block; 
}

.menu li {
  display: inline-block; 
}

.menu li:nth-child(2) {
  display: none; 
}

.menu li:not(:last-child) {
  border-right: 1px solid #01266C; 
}

.menu a, .menu a:hover {
  padding: 0px 5px;
  color: #01266C; 
}

.menu img {
  padding-left: 19px; 
}

nav {
  background-color: #01266C; 
}

nav ul {
  list-style-type: none;
  padding: 10px 0px;
  text-align: center;
  margin-bottom: 20px; 
}

nav li {
  padding: 6px 0px; 
}

nav li a, nav li a:hover {
  color: #FFFFFF;
  text-decoration: none; 
}

nav li:hover {
  background-color: #FEDFC0; 
}

nav li:hover a, nav li:hover a:hover {
  color: #01266C; 
}

h1 {
  font-size: 22px;
  color: #A56710; 
}

h2 {
  font-size: 18px;
  margin: 16px 0 5px;
  color: #456186; 
}

p {
  font-size: 14px;
  line-height: 20px; 
}

.carousel {
  display: none; 
}

article {
  margin-top: 11px;
  margin-bottom: 30px; 
}

article img {
  margin-top: 7px;
  width: 100%;
  height: 159px; 
}

.form-control {
  border-radius: 0;
  border: none;
  font-size: 14px; 
}

input[type="radio"] + label {
  font-size: 13px; 
}

input[type="checkbox"] + label {
  font-size: 12px; 
}

select, input[type="text"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: url(Assets/down-caret.png) no-repeat right;
  background-position-x: 94%;
  background-position-y: 51%;
  background-size: 10px; 
}

input[type="text"] {
  background: url(Assets/calendar-icon.png) no-repeat right #FFFFFF;
  background-position-x: 94%;
  background-size: 20px; 
}

input[type="submit"] {
  width: 100%;
  margin-bottom: 20px;
  color: #01266C;
  background: #FFFFFF;
  border: none;
  padding: 5px 0px; 
}

aside section {
  background-color: #84BDDB;
  margin-bottom: 38px; 
}

aside ul {
  list-style-type: none;
  padding: 0px;
  background-color: #01266C;
  margin-bottom: 21px; 
}

aside li {
  display: inline-block;
  width: 49%;
  text-align: center;
  padding: 8px 0px;
  color: #FFFFFF; 
}

aside li:hover {
  background-color: #FA9F1D; 
}

aside h2 {
  font-size: 19px;
  background-color: #01266C;
  color: #FFFFFF;
  padding: 9px 15px;
  font-weight: 600;
  margin-bottom: 9px; 
}

aside section:last-child {
  padding-bottom: 20px; 
}

aside span {
  display: block; 
}

aside span:first-child {
  color: #01266C; 
}

aside span:nth-child(2) {
  font-size: 32px; 
}

aside span:nth-child(n+3):nth-child(-n+6) {
  font-size: 14px;
  padding: 2px 0px; 
}

aside span:last-child {
  float: right;
  font-size: 11px; 
}

footer {
  font-size: 13px;
  color: #FFFFFF;
  text-align: center;
  background-color: #01266C;
  padding: 25px 0px; 
}

footer ul {
  list-style-type: none;
  padding: 0px; 
}

footer li {
  display: inline-block; 
}

footer a, footer a:hover {
  padding: 2px 5px 0px;
  color: #FFFFFF; 
}

footer span {
  display: block; 
}

@media (min-width: 768px) {
  header {
    margin: 10px 0px; 
  }

  .menu ul {
    margin-bottom: 0px; 
  }
  
  .menu li:nth-child(1) {
    display: none; 
  }
  
  .menu li:nth-child(2) {
    display: inline-block; 
  }
  
  .menu img {
    display: none; 
  }

  nav ul {
    padding: 0px; 
  }
  
  nav li {
    display: inline-block;
    width: 19%;
    padding: 8px 0px; 
  }

  .carousel {
    display: block; 
  }

  .carousel-indicators li {
    width: 15px;
    height: 2px;
    margin: 0px 2px; 
  }

  .carousel a {
    width: 10%; 
  }
  
  .carousel a img {
    width: 100%;
    height: 20%; 
  }

  h1 {
    margin-bottom: 0px; 
  }

  p {
    line-height: 17px; 
  }

  article {
    margin-top: 19px; 
  }
  
  article div {
    display: flex;
    justify-content: space-between; 
  }
  
  article section {
    width: 48%; 
  }
  
  article img {
    height: 133px; 
  }

  aside section {
    margin-bottom: 23px; 
  }

  footer {
    text-align: initial;
    padding: 15px; 
  }
  
  footer ul {
    float: right; 
  }
  
  footer li {
    padding: 0px 7px; 
  }
  
  footer li:not(:last-child) {
    border-right: 1px solid #FFFFFF; 
  }
  
  footer span {
    display: inline; 
  } 
}

@media (min-width: 992px) {
  header {
    margin: 13px 0px; 
  }

  nav ul {
    margin-bottom: 18px; 
  }

  article {
    margin-top: 23px; 
  }
  
  article img {
    margin-top: 13px;
    height: 200px; 
  }

  p {
    line-height: 20px; 
  } 
}

/*# sourceMappingURL=style.css.map */
